<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <div class="main-content">
    <h1 id="answer-heading">Please Answer the Following</h1>
    <table class="my-table" border="5px solid black;">
        <tr>
            <th>Criteria</th>
            <th>Answer</th>
        </tr>
        <tr *ngFor="let criteria of criterias">
            <td>{{criteria}}</td>
            <td><button id="tableButton" (click)="clicked(criteria)">Yes</button></td>
        </tr>
    </table>
    <button id="timeButton" (click)="checkCriteria()">Give Timeslot</button>
    </div>
</body>
</html>
