<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Blood Donation</title>
</head>
<body>
    <div class="main-content">
        <h1 class="welcome-heading">Blood Donation Registration Page</h1>
        <input type="button" value="Register" id="registrationButton" (click)="registrationNavigation();"><br><br>
        <input type="button" value="Login" id="loginButton" (click)="loginNavigation()"><br><br>
    </div>
</body>
</html>