.main-content{
    align-content: center;
    padding-left: 200px;
    padding-top: 350px;
}
body{
    margin-left:150px ;
    background-image: url('D:/Angular/Eval2Images/Blood_donation_home.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 300px;
}
.welcome-heading{
    color: rgb(10, 10, 10);
    text-decoration: underline;
    padding-left:200px;
}

#registrationButton{
    color: white;
    padding: 15px;
    margin-left: 375px;
    border-radius: 50px;
    background-color: rgb(230, 42, 28);
    margin-bottom: 50px;
}

#loginButton{
    color: white;
    padding: 15px;
    margin-left: 385px;
    border-radius: 50px;
    background-color: rgb(211, 27, 14);
    margin-bottom: 50px;
}