<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm</title>
</head>
<body>
    <div class="content">
        <h1 id="thanks-heading">Thank you for Registering Successfully!</h1>
        <div class="final-content">
            <p>Name:{{name}}</p>
            <p>Username:{{uname}}</p>
            <p>Looking forward to see you on 10th September at 3pm</p>
            <p class="tagline">Give Blood Save Lives!&hearts;</p>
        </div>
    </div>
</body>
</html>
